<div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><div class="question-num"></div></span>
        <input type="text" class="form-control question-text" placeholder="Question Text">
</div>
<br>
<div class="well well-sm">
        <div class="container-fluid">
        <div class="col-md-2">
        <div class="input-group">
                <span><input type="text" class="form-control slider-min" placeholder="min"></span>
        </div>
        </div>
        <div class="col-md-8">
        <input class="slider" id="slider-target" style="width:100%">
        </div>
        <div class="col-md-2">
        <div class="input-group">
                <span><input type="text" class="form-control slider-max" placeholder="max"></span>
        </div>
        </div>
        </div>
</div>
<div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-default move-up"> Move Up </button>
        <button type="button" class="btn btn-default move-down"> Move Down </button>
</div>
<div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-danger delete"> Delete </button>
</div>
