*{
  font-family: "Helvetica Neue", sans-serif;
}

.loginform-open{
  z-index: 10000;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 5px solid #222;
  padding: 10px 0;
  text-align: center;
  color: #000;
}
.loginform-open a{
  color: #000;
  text-decoration: none;
}

body{
  background-color: #fff9fb;
  padding-top: 55px;
}

.createuser-form{
  max-width: 320px;
  position: absolute;
  left:0;
  right:0;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.1), 0 3px 0 rgba(0,0,0,.1);
  border-radius: 4px;
  color: #333;
  font-weight: bold;
  font-size: 1.125em;
  position: relative;
}

.form-close{
  position: absolute;
  top: 5px;
  right: 5px;
  color: #222;
}

input[type=text],
input[type=password],
label,
button{
  display: block;
  width: 100%;
  color: #000;
}

input{
  margin: 5% 0;
  box-sizing: border-box;
}

input{
  padding: 10px 15px;
  border: 1px solid transparent;
  background-color: #f0f0f0;
  outline: 0;
  transition: background .15s ease-in, border .25s ease-in;
  border-radius: 5px;
  font-size: 1em;
}

input:focus{
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  transition: background 1s ease;
}

button{
  margin: 20px 0 0;
  padding: 10px 5px;
  outline: 0;
  border: none;
  border-bottom: 5px solid #AC9BC4;
  background-color: #CC0000;
  transition: background .2s ease-in;
  font-size: 1.1em;
  color: #fff;
  border-radius: 5px;
}

#CodeSquad-logo{
  width: 7%;
  height: 7%;
}

input[type="checkbox"] {
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;

}

.remember-me {
  font-size: : 18px;
  position: relative;
  display: block;
  margin-bottom: : 15px;
  padding-left: 30px;
  cursor: pointer;
}

.remember-me input {
  position: relative;
  left: -50%;
  opacity: 1;
}

.error_message input, .error_message select {
  font-weight: bold;
  color: blue;

}