#self-portrait {
	height: 30%;
	width: 30%;
	margin: 10px;
}

#projects {
	margin: 10px;
}

.profile {
	margin-left: 20%;
}

.container {
    display: flex;
}

.dashboard-obj {
    flex: 1;
    border: 1px solid black;
}

*{
  font-family: "Helvetica Neue", sans-serif;
}


