/* Student Dashboard CSS */
a, a:hover {transition-duration:400ms;text-decoration:none;color:inherit;}

body {background:#D13F3F;}

nav {
	background: #D13F3F!important;
	color: white;
	position: fixed!important;
	top: 0; 
	left: 0;
	right: 0;
	z-index:9999;
	border-radius:0!important;
	border:none!important;
	outline:none;
}

.navbar-brand {
	display: inline;
	width: 100%;
	position: relative;
	float: none!important;
}

.navbar-brand img {
	width: 15%;
	margin: 0 auto;
}

.collapse {
	display: inline!important;
}

.container {
	margin-top: 100px;
}

#dropdown {
	width: 50px;
	float: left;
	z-index: 99999;
}

.bar {
	width: 50px;
	height: 3px;
	background: #ffffff;
	margin-top: 50%;
}

.bar::before {
	width: 50px;
	height: 3px;
	content: "";
	position:absolute;
	background: #ffffff;
	margin-top: -15px;
	margin-left: -25px;
}

.bar::after {
	width: 50px;
	height: 3px;
	content: "";
	position:absolute;
	background: #ffffff;
	margin-top: 15px;
	margin-left:-25px;

}


.btn {
	outline: none;
	border: none;
	background:none!important;
	box-shadow: none!important;
	display: inline;
	width: auto;
	height:70px;
}

.btn:hover {background:none!important;outline:none!important;
	box-shadow:none!important;}

.dropdown-item {
	padding: 10px;
	background: #D13F3F;
	text-align:center;
	color: #ffffff;
	display: block;
}

.dropdown-item:hover {
	background:#b33939;
	text-decoration: none;
	color: #ffffff;
}

#profile_modal {
	color: black;
}

.dropdown-menu {padding:none;background:transparent!important;outline:none;
	box-shadow:none;border:1px solid #b33939;padding:0!important;
	margin-top:20px;height:auto;}

.btn-group {position:absolute;z-index:9999!important;}

#teachheader {position:fixed;margin-top:0;background:#ffffff;
left:0;right:0;text-align:center;top:20%;z-index:99;box-shadow:0px 2px 2px rgba(0,0,0,.2);}

#teachheader h1 {color:rgba(0,0,0,.8);}

.container {margin-top:200px;}

#sort {position:fixed;left:0;top:200px;margin-left:-20px;}

#sort h2 {background:#333;color:#fff;padding:10px;font-size:1.3em;
	letter-spacing:.03rem;left:0;}

.method {color:#ffffff;font-size:1.1em;letter-spacing:.03rem;
	margin-left:30px;margin-top:15px;}

.method-button {margin-left:30px;padding:5px;color:#ffffff;
	background:#b33939;display:block;margin-top:10px;text-align:center;
	box-shadow:0px 2px 1px #000;cursor:pointer;}
.method-button:hover {color:#b33939;box-shadow:none;background:#fff;}

#student-list {width:calc(100% - 250px); float:right;display:table;}

#student-list li {list-style-type:none;width:200px;
	height:200px;padding:10px;text-align:center;display:table-cell;
	border:5px solid #D13F3F;font-size:1.1em;font-weight:bold;
	color:#000000;}

#student-list li img {width:100%;margin-bottom:10px;background:#fff;
	border:1px solid #eeeeee;}

