<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <title>Sliding login form</title>
    
    
    
        <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'>
        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

        <link rel="stylesheet" href="style.css">


  </head>

  <body>

    <div class="loginform-open">
        <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_1440,w_720,f_auto/v1/50529/code_squad_bnzkih.png" id="CodeSquad-logo" alt="CodeSquad"/>
        CodeSquad
    </div>

    <form class="login-form">
        <a href="" class="form-close bounce"><i class="fa fa-times fa-lg"></i></a>
        <label for="username">Username:</label>
        <input type="text" id="username"/>
        <label for="password">Password:</label>
        <input type="password" id="password"/>
        <label class="remember-me"> Remember me
            <input type="checkbox" checked="checked"/>
        </label>
        <button type="submit">Login</button>
        <button id="forgot-password">Forgot Password? </button>
        <button id="create-account">Create Account</button>
    </form>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>

    
  </body>

</html>