{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block content %}
    <div class="registration-form">
            <h2>Reset Your Password</h2>
            <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
            <p class="help-block">Enter your email address above, and we'll email instructions for setting a new password.</p>
    </div>
{% endblock %}