{% load staticfiles %}

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Codesquad</title>
        <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'>
        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
        {% block styles %}
        {% endblock %}
    </head>

    <body>
        {% block content %}
        {% endblock %}

        {% block javascript %}
        {% endblock %}
    </body>

</html>
