{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/editprof.css' %}">

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h2>Edit My Profile</h2>

                <form method='post' enctype="multipart/form-data" action="{% url 'edit_profile' %}">
                    {% csrf_token %}
                    {% if curr_profile_image %}
                        <img class="img-responsive" src="{{ curr_profile_image.url }}"
                             alt="current profile picture"/>
                    {% else %}
                        <img class="img-responsive" src="{% static 'images/Ugly-Pigeon.jpg' %}"
                             alt="current profile picture"/>
                    {% endif %}

                    {{ profile_form|crispy }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        <div class="row">
            <h2>Edit My Projects</h2>
        </div>
        <div class="row">
            {% for project in projects %}
                <div class="col-xs-6 col-md-3">
                    <a href={% url 'edit_project' project.id %} data-toggle="modal"
                       data-target=#project-modal>
                        {% if project.image %}
                            <image src="{{ project.image.url }}" alt={{ project.title }}" class="thumbnail img-responsive"/>
                        {% else %}
                            <image src="{% static 'images/baby-goat.jpg' %}" alt="New Project" class="thumbnail img-responsive"/>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

<div class="modal fade" id="project-modal" tabindex="-1" role="dialog">

</div><!-- /.modal -->


    <!--  <script>
    $('#addproj').click(function(){
        $('.modal').modal('toggle');
    });
    </script> -->
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src="{% static 'js/editprof.js' %}"></script>
{% endblock %}