{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/master.css' %}">        
{% endblock %}

{% block content %}
<form method='post' enctype="multipart/form-data" action="{% url 'edit_profile' %}">
    {% csrf_token %}
    {{ form.about_me }}
    <h1>TESTING!</h1>
    {{ form.languages }}
    <button type="submit">Submit!</button>
</form>


{% endblock %}
