{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<form class="login-form" method='post' action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username}}
    {{ form.password.label_tag }}
    {{ form.password}}
    <button type="submit">Login</button>
    <button onclick='location.href="/register"' type='button' id="create-account">Create Account</button>
    <input type='hidden' name='next' value='{{ next }}' />
</form>
{% endblock %}

{% block  javascript %}
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}

