<!DOCTYPE html>

<html>

  <head>
    <title>Student Dashboard</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
    </head>

    <body>
    <div id="AboutMe"> 
    <h1 id="AboutMe_header">About Me</h1>
    <img id="self-portrait" src="example_image.jpg" alt="self-portrait"/>
    <h2 id="name">My Name</h2>    
    <p class="information">Something about myself</p>


    </div>

    

    <div id="Projects"> 
    <h1>Projects</h1>
    <div>My Projects
    <ul>
    <li>Project 1</li> 
    <li>Project 2</li>
    <li>Project 3</li>
    </ul>


    </div>



    </div>



    <div id="LinkedIn"> 

    </div>
                            


    </body>
</html>